@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<div>
    <h2><strong>please click to the button and login to get accesses to website</strong></h2>
    <p/>
    @Html.ActionLink("Click Here","Login","Home",new {@class="btn btn-default" })
</div>
    